In [13]:
import pandas as pd
import json
import datetime as dt
import warnings
import os

In [18]:
INPUT_FILE = "2015.xlsx"
YEAR = 2015

DIR = "../migration_rates"
OUTPUT_FILE = "migration_rate_processed.csv"
COUNTRY_CONFIG_FILE = "countries.json"

MONTHS = {
    1: "Januar",
    2: "Februar",
    3: "März",
    4: "April",
    5: "Mai",
    6: "Juni",
    7: "Juli",
    8: "August",
    9: "September",
    10: "Oktober",
    11: "November",
    12: "Dezember",
}

# read existing output file, otherwise create new df
try:
    data = pd.read_csv(os.path.join(DIR, OUTPUT_FILE), index_col=0)
except:
    data = pd.DataFrame(columns=["date", "country", "value"])

data["date"] = pd.to_datetime(data["date"])

# remove all entries from given year if exist
data = data[data["date"].dt.year != YEAR]

with open(os.path.join(DIR, COUNTRY_CONFIG_FILE)) as f:
    countries = json.load(f)

for m, m_name in MONTHS.items():

    print(m_name)

    date = dt.datetime(YEAR, m, 1)
    df_tmp = pd.read_excel(
        os.path.join(DIR, INPUT_FILE),
        sheet_name=m_name,
        usecols=[0, 2],
        skiprows=2,
        nrows=172,
    )

    df_tmp.columns = ["country", "value"]

    for c, c_name in countries.items():
        try:
            value = df_tmp[df_tmp["country"] == c_name]["value"].iloc[0]
        except:
            warnings.warn(f"No data for country {c_name}")
            continue

        data = data.append(
            {"date": date, "country": c, "value": value}, ignore_index=True
        )

data.sort_values(by="date").to_csv(os.path.join(DIR, OUTPUT_FILE))

Januar
Februar
März
April
Mai
Juni
Juli
August
September
Oktober
November
Dezember

          date country  value
0   2014-01-01      FR   1783
1   2014-01-01      GB   1518
2   2014-01-01      ES   3417
3   2014-01-01      PL  14887
4   2014-01-01      RO  15556
..         ...     ...    ...
619 2015-12-01      SI    312
620 2015-12-01      LV    318
621 2015-12-01      EE     54
622 2015-12-01      CY     64
623 2015-12-01      LU    239

[624 rows x 3 columns]