In [1]:
import pandas as pd
import statsmodels.api as sm
import statsmodels.graphics as smg
import json
import matplotlib.pyplot as plt
import os
from tqdm import tqdm
import math
import numpy as np
import warnings

## Load Data

### Migration influx

In [2]:
df_all = pd.read_csv(
    "../migration_rates/migration_rate_processed.csv", index_col=0, parse_dates=["date"]
)
df_all.set_index("date", inplace=True)
df_all["value"] = pd.to_numeric(df_all["value"], errors="coerce")
df_all["value"].fillna(1.0, inplace=True) # at least 1 person per timeframe for multiplicative seasonal decomposition

with open("../migration_rates/countries.json") as buf:
    countries = list(json.load(buf).keys())

series = {c: df_all[df_all.country==c].value for c in countries}
series["NL"]

date
2010-01-01     763.0
2010-02-01     649.0
2010-03-01     768.0
2010-04-01     772.0
2010-05-01     685.0
               ...
2019-08-01    1076.0
2019-09-01    1130.0
2019-10-01     994.0
2019-11-01     815.0
2019-12-01     728.0
Name: value, Length: 120, dtype: float64

### Google trends

In [3]:
DATA_VERSION = "21-04-22"

LANGUAGE_ASSIGNMENT_FILE = "../keywords/assignment_language_country.json"


def get_input_file(country: str) -> str:
    directory = f"../processed_data/{DATA_VERSION}"
    if not os.path.exists(directory):
        os.makedirs(directory)
    return os.path.join(directory, f"processed_{country}.csv")


with open(LANGUAGE_ASSIGNMENT_FILE) as f:
    assignment_language_country = json.load(f)

dataframes = {
    c: pd.read_csv(get_input_file(c), header=[0, 1], index_col=0, parse_dates=[0])
    for c in countries
}

keyword_ids = dataframes[countries[0]].columns.get_level_values(1)

dataframes["NL"].head()

                 mean                                                         \
keyword_id          2         10         11         12         14         15
date
2007-01-01  12.142857   7.142857  20.714286   0.000000  19.428571  66.142857
2007-02-01   0.000000   0.000000  56.857143   0.000000   0.000000  54.428571
2007-03-01   0.000000  72.000000   0.000000  44.571429  13.142857  42.142857
2007-04-01  16.571429  39.857143  22.285714   0.000000  12.285714  18.142857
2007-05-01  11.428571   0.000000   5.857143   0.000000  18.285714   0.000000

                                                        ...       sem  \
keyword_id         16         17         18         19  ...       114
date                                                    ...
2007-01-01   0.000000   0.000000  34.142857  28.142857  ...  0.746876
2007-02-01  23.857143  36.000000   0.000000  32.000000  ...  0.918443
2007-03-01   0.000000  36.428571   0.000000  37.285714  ...  1.445142
2007-04-01   0.000000   0.000000   0.000000  35.285714  ...  1.148794
2007-05-01   0.000000   0.000000  20.857143  37.857143  ...  1.078548

                                                                        \
keyword_id       115       117       118       119       121       122
date
2007-01-01  4.838901  4.921838  1.269742  1.130890  1.242666  2.918391
2007-02-01  2.542161  1.784285  2.307928  0.961858  1.360272  3.508008
2007-03-01  5.588496  4.276180  1.737932  1.151751  0.911006  3.952094
2007-04-01  4.495652  4.729413  1.442786  0.755929  1.127878  4.779491
2007-05-01  6.014721  5.019011  1.397276  1.016865  0.404061  7.008256


keyword_id       123       124       125
date
2007-01-01  1.056242  0.925820  0.480929
2007-02-01  1.317078  1.192379  0.611678
2007-03-01  0.972408  0.577350  0.606092
2007-04-01  0.459221  0.737711  0.714286
2007-05-01  0.993174  0.968904  0.649437

[5 rows x 96 columns]

In [4]:
dfs_1y = {k: df.resample("1Y").mean() for k, df in dataframes.items()}
sers_1y = {k: df.resample("1Y").mean() for k, df in series.items()}